<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "meta.html" . }}
        <title>Video Threat Detection</title>
    </head>
    <body>
        <!-- Load every 5 seconds -->
        <div hx-get="/" hx-trigger="every 5s"><div>

        <div class="container">
            {{ template "navbar.html" . }}

            <div class="row mt-4 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-header">Last 24-Hour Clips</p>
                            <p class="text-center"><span id="allClips" class="badge bg-primary">{{ .AllClipsCount }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-header">Last 3-Hour Clips</p>
                            <p class="text-center"><span id="period3Clips" class="badge bg-primary">{{ .P3ClipsCount }}</span></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p class="text-header">Last 1-Hour Clips</p>
                            <p class="text-center"><span id="period1Clips" class="badge bg-primary">{{ .P1ClipsCount }}</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4 g-4">
                <div class="col-12">
                    {{ template "regions-table.html" . }}    
                </div>
            </div>
        </div>
    </body>
</html>
